.bai6_3{
    text-align: center;
    margin-right: 50%;
}
#otrong{
    background-color:  #FFBBFF;
}
.so{
    background-color: #63B8FF;
    color: black;
}
.bai6_3 th{
    background-color: #FF00FF;
    text-decoration-line: underline;
}
.bai6_3 td{
    background-color:  #FFBBFF;
    color: #1E90FF;
    font-weight: 600;
}
caption{
    font-size: 20px;
    color: #FF00FF;
    background-color: #FFCC00;
}