.bai9{
    text-align: center;
    border: 3px solid orange;
    border-spacing: inherit;
    display: inline-block;
}
.bai9 th{
    background-color: aqua;
    border-color: orange
}
.bai9 td{
    background-color:rgba(249, 253, 22, 0.623);
}